.Grid {
  row-gap: var(--PlatUi-Grid_gapY);
  column-gap: var(--PlatUi-Grid_gapX);
  grid-template-columns: repeat(var(--PlatUi-Grid_cols), minmax(0, 1fr));
  grid-template-rows: repeat(var(--PlatUi-Grid_rows), minmax(0, 1fr));
}
